<!DOCTYPE html>
<html>
<head>
  <title>CRIT App - Terms and Conditions</title>
</head>
<body>
  <h1>Privacy policy for Nearme/Crit App</h1>
  
  <h2>1. Acceptance of Terms</h2>
  <p>By downloading, installing, or using the App, you acknowledge that you have read, understood, and agree to be bound by these Terms. If you do not agree with any part of these Terms, you must not use the App.</p>
  
  <h2>2. User Information</h2>
  <p>a. Personal Data: When using the App, you may be required to provide personal information, including but not limited to your phone number, email address, and password. By providing this information, you consent to its collection, storage, and processing as described in our Privacy Policy.</p>
  <p>b. Accuracy of Information: You are responsible for ensuring that the information you provide is accurate, complete, and up to date. We are not responsible for any consequences that may arise due to inaccurate or outdated information provided by you.</p>
  
  <h2>3. Refund Policy</h2>
  <p>a. Payments refunded within 5 business days upon cancellation. Refunds processed and returned to the original payment method within 5 days..</p>
  <p>b. Refunds may be subject to certain conditions, including but not limited to the eligibility of the product or service for refund, adherence to cancellation procedures, and verification of payment details.</p>
  
  <h2>4. App Usage</h2>
  <p>a. License: We grant you a limited, non-exclusive, non-transferable, and revocable license to use the App for its intended purpose, solely for your personal, non-commercial use.</p>
  <p>b. Prohibited Activities: You agree not to engage in any of the following activities while using the App:</p>
  <ul>
    <li>Violating any applicable laws or regulations.</li>
    <li>Uploading, posting, or transmitting any content that is unlawful, defamatory, obscene, or infringing upon the rights of others.</li>
    <li>Attempting to gain unauthorized access to the App or any related systems or networks.</li>
    <li>Interfering with or disrupting the functionality of the App or its associated services.</li>
  </ul>
  <p>c. Intellectual Property: The App and its contents are protected by intellectual property laws. You agree not to reproduce, modify, distribute, or create derivative works based on the App or any part thereof, unless expressly authorized by us.</p>
  
  <h2>5. App Location and Governing Law</h2>
  <p>a. App Location: The App is operated from India. We make no representation that the content or services provided by the App are appropriate or available in other locations. Accessing the App from jurisdictions where its contents are illegal is strictly prohibited.</p>
  <p>b. Governing Law: These Terms shall be governed by and construed in accordance with the laws of India. Any disputes arising out of or relating to these Terms or the use of the App shall be subject to the exclusive jurisdiction of the courts located in hyderabad.</p>
  
  <h2>6. Limitation of Liability</h2>
  <p>a. Disclaimer: The App is provided on an "as is" and "as available" basis. We do not warrant the accuracy, completeness, or reliability of any information or content provided by the App. Your use of the App is at your own risk.</p>
  <p>b. Limitation of Liability: To the maximum extent permitted by law, we shall not be liable for any direct, indirect, incidental, consequential, or special damages arising out of or in connection with your use of the App, even if advised of the possibility of such damages.</p>
  
  <h2>7. Modifications to the Terms</h2>
  <p>We reserve the right to modify or update these Terms at any time without prior notice. Any changes will be effective immediately upon posting the revised Terms within the App. Your continued use of the App after the posting of any changes constitutes your acceptance of such changes.</p>
</body>
</html>
